.door-lock-management-container input {
  padding: 12px 16px;
  display: inline-block;
  font-size: medium;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.text-input-with-label {
  display: flex;
  margin: 16px 0;
  align-items: center;
}

.text-input-with-label label {
  width: 240px;
  margin-right: 8px;
}

.text-input-with-label input {
  flex-grow: 1;
}

.form-button {
  text-align: right;
  margin-top: 16px;
}

.form-button button {
  font-size: medium;
  font-weight: 500;
}

.description {
  color: #959595;
}

.current-location {
  color: #959595;
}

@media screen and (max-width: 768px) {
  .text-input-with-label {
    flex-wrap: wrap;
  }

  .text-input-with-label label {
    width: 100%;
    margin-bottom: 8px;
  }

  .text-input-with-label input {
    width: 100%;
  }
}
