.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "calendar filter"
    "weekly   weekly";
  gap: 16px;
  align-items: stretch;
}

@media screen and (max-width: 820px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "calendar"
      "filter"
      "weekly";
  }
}

.calendarPanel {
  grid-area: calendar;
  display: flex;
  flex-direction: column;
}

.filterPanel {
  grid-area: filter;
  display: flex;
  flex-direction: column;
}

.weeklyPanel {
  grid-area: weekly;
}
